@media screen and (max-width: 420px){
    #lezioni {
        background-color: #F2F2CD;
        display: flex;
        flex-wrap: wrap;
        
    }
    #lezioni .row>.left,
    #lezioni .row>.right  {
    width: auto;
    }
    #steps {
        display: flex;
        flex-wrap: wrap;
        
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right  {
    width: auto;
    }
    #why {
        background-color: #F2F2CD;
        display: flex;
        flex-wrap: wrap;
      }
      
      #why .row>.first,
      #why .row>.second,
      #why .row>.third {
        width: auto;
      }

    
}